/*--------- BODY ---------*/
body{
    min-width: 320px;
}

/*--------- NAVBAR ---------*/
/*--- LOGO ---*/
.loginlogo{
    width: 45%;
}


/*--- DARKMODE ---*/
.darkmodebtn{
    font-size: smaller;
}

.darkmodebtnint{
    font-size: xx-small;
}

/*--- SAIR ---*/
.sairbtn{
    font-size: xx-small;
}


/*--------- FORMS ---------*/
/*--- FORM ---*/
form{
    background-color: rgba(128, 128, 128, 0.152);
    padding: 0.5rem;
    border-radius: 0.4rem;
}

/*--- BUTTONS LOGIN ---*/
.loginbtn{
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    margin-right: 0.4rem;
}

/*--- LABELS ---*/
.form-label{
    margin-top: 0.7rem;
    margin-bottom: 0;
}

/*--- FIELDSETS ---*/
fieldset{
    margin-bottom: 0.4rem;
    background-color: rgba(128, 128, 128, 0.205);
    padding: 1rem;
    border-radius: 0.4rem;
}

/*--- LEGENDS ---*/
legend{
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
}


/*--------- CARDS ---------*/
/*--- CARD-HEADER ---*/
#usunome, #usucpf, #empnome, #empcnpj{
    font-size: 1.2rem;
    word-break: break-all;
}


/*--- CARD-LOGIN ---*/
#cardlogin{
    background-color: rgba(128, 128, 128, 0.205);
}